img {
  border-radius: 50%;
  border: 5px solid transparent;
}

body {
  /* background-color: #EAF6F6; */
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}


.top-container-0{
  background-color: #8ad7c1;
}

.top-container-1{
  background-color: #8ad7c1;
  padding: 20px;
}

.prof-summary-container{
  background-color: #fbf6f0;
  padding: 20px;
}
.prof-summary-text{
  width: 40%;
  text-align: center;
  padding-left: 500px;
}

.exp-summary-container{
  background-color: #EAF6F6;
  padding: 20px;
}

.edu-summary-container{
  background-color: #fbf6f0;
  padding: 20px;
}

.tech-summary-container{
  background-color: #EAF6F6;
  padding: 20px;
}

.pskills-summary-container{
  background-color: #fbf6f0;
  padding: 20px;
}

.certi-summary-container{
  background-color: #EAF6F6;
  padding: 20px;
}

.patent-summary-container{
  background-color: #fbf6f0;
  padding: 20px;
}

h1{
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin: 50px auto 0 auto;
}

h2{
  color: #66BFBF;
  text-align: center;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAf6f6;
}
